<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Blog.dao.DiscussMapper">
  <resultMap id="BaseResultMap" type="com.Blog.pojo.Discuss">
    <id column="discuss_id" jdbcType="BIGINT" property="discussId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="discuss_user" jdbcType="BIGINT" property="discussUser" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">

  </sql>
  <select id="selectByExample" parameterType="com.Blog.pojo.DiscussExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from discuss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discuss
    where discuss_id = #{discussId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from discuss
    where discuss_id = #{discussId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.Blog.pojo.DiscussExample">
    delete from discuss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.Blog.pojo.Discuss">
    insert into discuss (discuss_id, create_time, like_count, 
      discuss_user, article_id, content, 
      parent_id)
    values (#{discussId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{likeCount,jdbcType=INTEGER}, 
      #{discussUser,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.Blog.pojo.Discuss">
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="discussId != null">
        discuss_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="discussUser != null">
        discuss_user,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discussId != null">
        #{discussId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="discussUser != null">
        #{discussUser,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.Blog.pojo.DiscussExample" resultType="java.lang.Long">
    select count(*) from discuss
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update discuss
    <set>
      <if test="record.discussId != null">
        discuss_id = #{record.discussId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.likeCount != null">
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.discussUser != null">
        discuss_user = #{record.discussUser,jdbcType=BIGINT},
      </if>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update discuss
    set discuss_id = #{record.discussId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      like_count = #{record.likeCount,jdbcType=INTEGER},
      discuss_user = #{record.discussUser,jdbcType=BIGINT},
      article_id = #{record.articleId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.Blog.pojo.Discuss">
    update discuss
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="discussUser != null">
        discuss_user = #{discussUser,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where discuss_id = #{discussId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Blog.pojo.Discuss">
    update discuss
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      like_count = #{likeCount,jdbcType=INTEGER},
      discuss_user = #{discussUser,jdbcType=BIGINT},
      article_id = #{articleId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT}
    where discuss_id = #{discussId,jdbcType=BIGINT}
  </update>
</mapper>